
.Comentario {
    background-color: #fff;
    margin-bottom: 2rem;
    border-radius: .5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
    padding: 1rem;
    display: flex;
    
}


.Comentario .avatar {
   max-width: 80px;
   max-height: 80px;
}


